@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .HStack {
    @apply flex flex-row;
  }

  .VStack {
    @apply flex flex-col;
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
  .Label {
    color: rgba(255, 255, 255, 1);
  }
  .Controler {
    /* background-color: rgba(255, 255, 255, 0.8);  */
    background-color: white;
  }
  .Control:hover {
    background-color: #5e5e5e2e, #ffffff0f;
    background-image: radial-gradient(
        ellipse 101.0012375687634px 52.562355980862556px at 50.49999841188234px
          52.00000201892618px,
        #5e5e5e24 0%,
        #5e5e5e00 74%
      ),
      radial-gradient(
        ellipse 101.00124342267529px 52.009064872197946px at
          50.499996005556575px 52.0000045143173px,
        #ffffff12 0%,
        #fff0 56%
      );
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, auto;
    overflow: hidden;
  }
  .HSection-break {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .VSection-break {
    background-color: rgba(
      255,
      255,
      255,
      0.25
    ); /* Made it darker for visibility */
  }
  .content {
    background-color: #1c1c1e;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  width: auto;
  height: 1000px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.HSection-break {
  width: 100%;
  height: 0.05rem;
  background-color: rgba(0, 0, 0, 0.25);
}

.VSection-break {
  width: 0.05rem;
  height: 2rem; /* Adjust this value as needed */
  background-color: rgba(0, 0, 0, 0.25); /* Made it darker for visibility */
}

.Controler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 96px;
  border-radius: 9999px;
  /* background-color: rgba(255, 255, 255, 0.2);  */
  background-color: rgba(0, 0, 0, 0.05); /* for light mode */
  border: 1px solid rgba(0, 0, 0, 0.05);
  width: fit-content;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

/* ===================== ADDITIONAL STYLES ===================== */
.Control {
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 500px;
  /* background-color: #5e5e5e2e, #ffffff0f; */
  background-color: rgba(0, 0, 0, 0.05); /* for light mode */
  padding-top: 8px; /* equivalent of pt-2 */
  padding-bottom: 8px; /* equivalent of pb-2 */
  padding-left: 20px; /* equivalent of pl-5 */
  padding-right: 20px; /* equivalent of pr-5 */
  overflow: hidden;
  min-width: 140px;
  justify-content: center;
}
.Control-ignore {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;

  border-radius: 500px;
  background-color: rgba(0, 0, 0, 0.05); /* for light mode */

  overflow: hidden;
  max-width: fit-content;
  justify-content: center;
}
.Label {
  color: rgba(0, 0, 0, 1);

  font-family: SF Pro, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.Control:hover {
  background-color: #5e5e5e2e, #ffffff0f;
  background-image: radial-gradient(
      ellipse 101.0012375687634px 52.562355980862556px at 50.49999841188234px
        52.00000201892618px,
      #5e5e5e24 0%,
      #5e5e5e00 74%
    ),
    radial-gradient(
      ellipse 101.00124342267529px 52.009064872197946px at 50.499996005556575px
        52.0000045143173px,
      #ffffff12 0%,
      #fff0 56%
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto, auto;
  overflow: hidden;
}

/* Tailwind Styles */

.Optimise-view {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  padding-top: 3rem;
}


.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  text-align:center;
  background-color: white;
}

/* WAVES */
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 10s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 13s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 16s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 24s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

.break {
  transform: rotate(180deg);
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
